<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="RestAssuredTestApi">
    <listeners>
        <listener class-name="utils.ListenerTestNG"/>
    </listeners>
    <test name="Ratings Update Test API">
        <classes>
            <class name="tests.VerifyRatingUpdate"/>
        </classes>
    </test>
</suite>